body {
    background-image: url(../img/what-the-hex-dark/pexels-photo-844297.png);
  }
  
  .logo {
    font-family: 'Peralta', cursive;
  }
  
  .logo a {
    color: rgba(0,0,0,.9);
  }
  
  .logo a:hover,
  .logo a:active {
    text-decoration: none;
  }